<!DOCTYPE html>
{% load static %}
{%  block content %}
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<!-- font-family: 'Open Sans', sans-serif; -->
<link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="" />
<link href="{% static 'css/custom.css'' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'css/default.css' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'css/tab.css' rel='stylesheet' type='text/css'>
<link rel="icon" href="../styles/images/favicon.png">
<script src="{% static 'css/jquery.js'%} " type='text/javascript'></script>
<script src="{% static 'css/setting2.js' %}" type='text/javascript'></script>
<script src="{% static 'css/tab.js' %}" type='text/javascript'></script>
<script src="{% static 'css/bootstrap.min.js' %}" type='text/javascript'></script>
</head>
<body class="loginarea" style="zoom: 1;">
<div class="wrapper-account">
  <div class="headerContainer">
    <div class="headerInner"><a href="{% url 'customer' %}" id="logo"></a>
      <div class="hdRight">
        <div class="mainNavRight">
          <div class="navbar">
            <div class="navbar-inner">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

<div class="inside_inner_account">
<div class="member_wrap">
<div class="membersidebar">
   <ul>
    <li><a href="{% url 'customer' %}">My Account</a></li><li><a href="{% url 'deposit' %}">Deposit</a></li><li><a href="{% url 'withdraw-history' %}">Withdraw History</a></li><li><a href="{% url 'withdraw' %}">Withdraw</a></li><li></li><li><a href="{% url 'referals' %}">Referrals</a></li><li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
</div>
<div class="member-container">
<div class="account_top">
  <div class="user_left">
    <h2>Welcome, <span>Test</span></h2>
  </div>
  <div class="affiliate_top">Affiliate Link:<a href="https://octaforex.pythonanywhere.com/" class="ref-link">https://octaforex.pythonanywhere.com/</a></div>
  <div class="get_banners"><a href="{% url 'referals' %}">Get Banners</a></div>
</div>
<div class="member_right">

<form method="post">
<input type="hidden" name="a" value="withdraw_history">
<table cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr>
 <td>
 <h3 class="account_main">withdraw History</h3>

 </td>
 <td align="right">
From: <select name="month_from" class="inpts">
<option value="1">Jan
</option><option value="2">Feb
</option><option value="3">Mar
</option><option value="4">Apr
</option><option value="5">May
</option><option value="6" selected="">Jun
</option><option value="7">Jul
</option><option value="8">Aug
</option><option value="9">Sep
</option><option value="10">Oct
</option><option value="11">Nov
</option><option value="12">Dec
</option></select> &nbsp;
<select name="day_from" class="inpts">
<option value="1" selected="">1
</option><option value="2">2
</option><option value="3">3
</option><option value="4">4
</option><option value="5">5
</option><option value="6">6
</option><option value="7">7
</option><option value="8">8
</option><option value="9">9
</option><option value="10">10
</option><option value="11">11
</option><option value="12">12
</option><option value="13">13
</option><option value="14">14
</option><option value="15">15
</option><option value="16">16
</option><option value="17">17
</option><option value="18">18
</option><option value="19">19
</option><option value="20">20
</option><option value="21">21
</option><option value="22">22
</option><option value="23">23
</option><option value="24">24
</option><option value="25">25
</option><option value="26">26
</option><option value="27">27
</option><option value="28">28
</option><option value="29">29
</option><option value="30">30
</option><option value="31">31
</option></select> &nbsp;

<select name="year_from" class="inpts">
<option value="2014">2014
</option><option value="2015">2015
</option><option value="2016">2016
</option><option value="2017">2017
</option><option value="2020">2020
</option><option value="2019">2019
</option><option value="2020">2020
</option><option value="2021" selected="">2021
</option></select><br><img src="{% static 'images/q.gif' %}" width="1" height="4"><br>

To: <select name="month_to" class="inpts">
<option value="1">Jan
</option><option value="2">Feb
</option><option value="3">Mar
</option><option value="4">Apr
</option><option value="5">May
</option><option value="6" selected="">Jun
</option><option value="7">Jul
</option><option value="8">Aug
</option><option value="9">Sep
</option><option value="10">Oct
</option><option value="11">Nov
</option><option value="12">Dec
</option></select> &nbsp;
<select name="day_to" class="inpts">
<option value="1">1
</option><option value="2">2
</option><option value="3">3
</option><option value="4">4
</option><option value="5">5
</option><option value="6">6
</option><option value="7">7
</option><option value="8">8
</option><option value="9">9
</option><option value="10">10
</option><option value="11">11
</option><option value="12">12
</option><option value="13">13
</option><option value="14">14
</option><option value="15">15
</option><option value="16">16
</option><option value="17">17
</option><option value="18">18
</option><option value="19">19
</option><option value="20">20
</option><option value="21" selected="">21
</option><option value="22">22
</option><option value="23">23
</option><option value="24">24
</option><option value="25">25
</option><option value="26">26
</option><option value="27">27
</option><option value="28">28
</option><option value="29">29
</option><option value="30">30
</option><option value="31">31
</option></select> &nbsp;

<select name="year_to" class="inpts">
<option value="2014">2014
</option><option value="2015">2015
</option><option value="2016">2016
</option><option value="2017">2017
</option><option value="2020">2020
</option><option value="2019">2019
</option><option value="2020" selected="">2020
</option><option value="2021">2021

</option></select>

 </td>
 <td>
	&nbsp; <input type="submit" value="Go" class="sbmt">
 </td>
</tr></tbody></table>
</form>
<br><br>

<table cellspacing="1" cellpadding="2" border="0" width="100%" class="tab">
<tbody><tr>
<td class="inheader" width="170">Date</td>
 <td class="inheader" width="200">Amount</td>
 <td class="inheader" width="200">Status</td>
</tr>
{% for transaction in transaction %}
<tr>
	<td class="inheader" width="170">{{ transaction.time }}</td>
	 <td class="inheader" width="200">{{ transaction.amount }}</td>
	 <td class="inheader" width="200">{{ transaction.status }}</td>
	</tr>
{% endfor %}

<tr><td colspan="3">&nbsp;</td></tr>

</tbody></table>

</div><!--end column-70-->
</div>
</div>
</div>

<div class="contentBotContainer">
  <div class="contentBotInner">
    <div class="ctn-top-solid">
      <h1>btc network </h1>
      <h2> wallets: </h2>
      <div class="solid-top">
		  <a href="https://www.coinbase.com/" class="solidTop1"></a>
		  <a href="https://blockchain.info/" class="solidTop2"></a>
		  <a href="https://xapo.com/" class="solidTop3"></a>
		  <a href="https://airbitz.co/" class="solidTop4"></a>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ctn-bot-solid">
      <p>Market Cap: <span>$77829716960.00</span></p>
      <p>Hashrate: <span>7108353254.76</span></p>
      <p>Difficulty: <span>888171856257</span></p>
      <p>Total Blocks: <span>482882</span> </p>
      <p>Network Speed: <span>108.5 PH/s</span></p>
    </div>
  </div>
</div>


<div class="footerContainer">
	<div class="footerInner">
		<div class="ctn-footer-top">
			<div class="ctn-ft-left">
				<p>© 2024 Legal Trade All Rights Reserved.</p>
			</div>
			<div class="ctn-ft-mid">
			</div>
			<div class="ft-solid">
				<a href="https://www.facebook.com/VisualHyipcom/" target="_blank" class="per"></a>
				<a href="https://twitter.com/" target="_blank" class="bit"></a>

			</div>

		</div>
	</div>
</div> <!-- end bot footer -->

	<script type="text/javascript">
$(document).ready(function() {

		$('.accordion>dl>dt>a').click(function()
		{
			$(this).toggleClass("rotate0");
		});
			/*------- parse price --------*/
			function parsePriceCrypto()
			{
				returnString = "";

				$.post( "https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC,LTC,ETH,BCH,XRP&tsyms=USD", function( data )
				{
					$('#price_btc').text('$'+data['BTC']['USD']);
					$('#price_ltc').text('$'+data['LTC']['USD']);
					$('#price_eth').text('$'+data['ETH']['USD']);
					$('#price_bch').text('$'+data['BCH']['USD']);
					$('#price_xrp').text('$'+data['XRP']['USD']);
				});
			}
			parsePriceCrypto();

			setInterval(function()
			{
				parsePriceCrypto();
			}
			, 5000);
		});

		$('.language').click(function() {
			$(this).toggleClass('active');
		});

		$('.mobileMenu').click(function() {
			$('.menu').toggleClass('mobile');
			$(this).toggleClass('rotate');
		});
</script>


<script>window.gtranslateSettings = {"default_language":"en","detect_browser_language":true,"wrapper_selector":".gtranslate_wrapper","flag_style":"3d"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
<script src="//code.jivosite.com/widget/SRLaK49FZh" async></script>

	</body>
	{%  endblock content %}
	</html>